.caratula{
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.42);
    margin-bottom: 20px;
    text-align: center;
    width: 400px;
}

.caratula i{
    font-size: 40px;
    color: darkred;
}
.vinhetas{
    background-color:violet;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.42);
    box-sizing: border-box;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 1px 10px 5px;
    width: 400px;
}

.perfil{
    background-color: orange;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.42);
    box-sizing: border-box;
    margin-top: 10px;
    padding: 1px 10px 5px;
    width: 400px;
}
footer{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    width: 400px;
}
h1{
    
    font-family: 'Nanum Pen Script', cursive;
    font-size: 60px;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

h3{
    font-family: 'Rancho', cursive;
    font-size: 30px;
    color:black  ;
}

img{
    border-radius: 20px 0;
    display:block; /*Muestra la img en una nueva linea*/
    filter: brightness(117%);
    height: 300px;
    margin: auto;
    
}

p{
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}


body { background-color: yellowgreen}

.resaltar{
   
    font-style: italic;
}

.importante{
    font-weight: bold;
}