.ejercicio1{
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.ejercicio2{
    height: 600px;
    border-style: solid;
    border-color: black;    
    display: inline-flex;
    flex-direction:row-reverse;
    border-color: black;
    align-items: center;
}

.ejecicio3{
    border-style:solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

#verde{
    background-color: green;
    width: 200px;
    height: 200px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
#rojo{
    background-color: red;
    width: 200px;
    height: 200px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#azul{
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}