body{
    background-color: tan;
}

@media screen and (max-width: 992px) {
    body{
        background-color: blue;
    }   
}

@media screen and (max-width: 600px) {
    body{
        background-color: olive;
    }
    
}

.cuadrado{
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    transform:rotate(35deg);
}

.cuadradito{
    background-color: fuchsia;
    width: 200px;
    height: 200px;
    /*scale agranda a 250% en el caso de X y 400% en el caso de Y*/
    transform: scale(2.5,4);
}
.circulito{
    position:absolute;
	top: 500px;
	left: 500px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #b85cb4;
    /*translate: util para mover minimamente un objeto*/
    transform: translate(50px, 100px);
}
