nav{
    background-color: #6da9ed;
    margin-bottom: 2em;
}
nav ul{
    list-style: none; /*Saco el puntito de la lista*/
    margin: 0; /*Se le saca el margin que viene por defecto*/
    padding: 0; /*Se le saca el padding que viene por defecto*/
}
nav ul li{
    display: inline-block;  /*Lo pone en linea, junto a la item anterior*/
    width: 25%; /*al ser 6 botones, se distribuyen uno cada 16,3% del total de la barra*/
}
nav ul li a{
    color: white;
    text-decoration: none; /*Le quito el subrrayado a los vinculso*/
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}
nav ul li a.activo{
    background-color: #4c76a5;
}