.contenedor{
	height: 500px;
	background-color: blue;
	display: flex;
	/* FLEX START alinea las cajas al principio, viene por defecto */
	/* align-items: flex-start; */
	/* FLEX END alinea las cajas abajo */
	/* align-items: flex-end; */
	/* CENTER alinea las cajas al centro */
	align-items: center;
	/* LA PROFE BORRO LA SIGUIENTE */
	/* align-items: stretch; */
	/* LA PROFE BORRO LA SIGUIENTE */
	/* align-items: baseline; */
}


.item{
	background-color: #ccc;
	margin:10px;
	font-size: 30px;
	width: 100px;
	height: 100px;
	
}


