.contenedor{
	background-color: blue;
	display: inline-flex;
	/* DIRECCION POR DEFECTO ROW*/
	flex-direction: row; 
	/* flex-direction: row-reverse; */

	/* DIRECCION EN COLUMNAS */
	/* flex-direction: column; */
	/* flex-direction: column-reverse; */

}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
		}
