.contenedor{
	background-color: blue;
	display: inline-flex;
	/*DISPLAY FLEX WRAP NOWRAP VIENE POR DEFECTO (quedan las cajas una al lado de la otra)*/
	 /* flex-wrap: nowrap;  */
	 /*DISPLAY FLEX WRAP WRAP (las cajas se acomodan para entrar en la pantalla)*/
	/* flex-wrap: wrap;  */
	/*DISPLAY FLEX WRAP WRAP REVERSE (las cajas se acomodan en la pantalla de la ultima a la primera*/
	flex-wrap: wrap-reverse; 
}

.item{
	background-color: #ccc;
	width: 300px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}