.contenedor{
	background-color: blue;
	/* EL DISPLAY ES UNO O EL OTRO: */
	display: inline-flex; /*Ajusta el contenedor al contenido*/
	/* display: flex; */ /*Ajusta el contenedor al ancho de la pantalla*/
}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}