.contenedor {
	border: 2px solid black;
	width: 450px;
	height: 450px;
	/* MARGIN 0 AUTO coloca al medio de la pantalla al contenedor */
    margin: 0 auto;
	/* DISPLAY FLEX ajusta el contenedor a los items */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.caja {
	width: 150px;
	height: 150px;
	display: flex;
	/* JUSTIFY CONTENT CENTER centra entre derecha e isquierda */
	justify-content: center;
	/* ALIGN ITEMS CENTER centra entre arriba y abajo */
    align-items: center;
    
    
}
.item1 {
	background: red;
	color: white;
}
.item2 {
	background: blue;
	color: white;
}
.item3 {
	background:green;
	color: white;
}

