header{
    position: fixed;
    top: 0px;
    background-color: orangered;
    text-align: center;
    height:60px;
    width: 30%;
}
footer{
    background-color: gray;
    width: 100%;
    text-align: center;
 
}
footer h6{
    font-style: italic;
}
.horizontal{
    position: fixed;
    background-color: blueviolet;

}