/* Inicio HOME */
.homeing{
    margin-bottom: 1.5em; /*Separo la imagen de lo que viene despues*/
}
.homeing img{
    max-width: 100%;
}
.columnas{
    overflow: hidden;
}
.bienvenidos, .testimonios{
    box-sizing: border-box; /*Se redimenciona el tema de la cajas*/
}
.bienvenidos{
    width: 75%; /*Ancho que ocupa el espacio de bienvenidos*/
    padding-right: 2em;
}
.testimonios{
    width: 25%; /*Ancho que ocupa el espacio de testimonios*/
}
.testimonio{
    background-color: #ccc;
    padding: 1em;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}
.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}
/* Fin HOME */